<p><%= loginState %> is a .</p>
<input type="text" name="username" id="username/><button id='loginBtn'>login</button>
<script type="text/javascript">
$('#loginBtn').on('click', function (e) {
});
</script>