<article id="content">
  <% if (loginState === '未登录') { %>
    <section id="noLoginSection">
      <p>请登录</p>
      <input type="text" name="username" id="username" />
      <input type="password" name="password" id="password" />
      <button id="loginBtn">login</button>
    </section>
  <% } else { %>
    <p id="loginSection">欢迎，<%= loginState.name %></p>
  <% } %>
</article>
<textarea id="code">
</textarea>
<button id="submit">提交</button>
<iframe id="template" src="/demo.html"></iframe>

<script type="text/javascript">
$(function () {
  var userName = $("#username");
  var passWord = $("#password");
  var noLoginSection = $("#noLoginSection");
  var loginSection = $("#loginSection");
  var content = $("#content");
  var template = $("#template");
  var code = $("#code");

  $('#loginBtn').on('click', function (e) {
    $.post('/login', {
      name: userName.val(),
      password: passWord.val(),
    }, function (res) {
      if (res.code !== 0) {
        alert(res.message);
      }

      else {
        noLoginSection.hide();
        content.html('<p id="loginSection">欢迎，' + userName.val() + '</p>');
      }
    });
  });

  $('#code').on('keydown', function (e) {
    var keyCode = e.keyCode || e.which || e.charCode;
    var ctrlKey = e.ctrlKey || e.metaKey;
    if(ctrlKey && keyCode == 83) {
      e.preventDefault();
      $('#submit').trigger('click');
    }
  });

  $('#submit').on('click', function (e) {
    $.post('/save', {
      id: 'test',
      content: code.val(),
    }, function (res) {
      if (res.code !== 0) {
        alert(res.message);
      }

      else {
        var script = document.createElement('script');
        var body = template.get(0).contentDocument.body;
        var child;
        script.type = 'text/javascript';
        if (script.innerHTML !== res.data) {
          script.innerHTML = res.data;
          script.id = 'test';
          if (child || (child = body.querySelector('#test'))) {
            body.replaceChild(script, child);
            child = script;
          }

          else {
            body.appendChild(script);
          }
        }
        
      }

    });
  });
});
</script>