<style>
p, div, span, section, article {
  margin: 0;
  padding: 0;
}
#code-space {
  background-color:#1d1f20;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}
#code-space::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
#code-space::-webkit-scrollbar-track-piece {
    background-color: #ccc;
    -webkit-border-radius: 6px;
}
#code-space::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #666;
    -webkit-border-radius: 6px;
}
#code-content {
  height: 1000px;
}
.code-part {
  font-size: 14px;
  height: 16px;
  color: #fff;
  position: relative;
  display: inline-block;
}
.code-cursor {
  width: 0px;
  height: 20px;
  border-right: 1px solid #fff;
  -webkit-animation:cursor 1s infinite;
  animation:cursor 1s infinite;
  display: none;
}

@keyframes cursor {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes cursor {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

</style>
<article id="content">
  <% if (loginState === '未登录') { %>
    <section id="noLoginSection">
      <p>请登录</p>
      <input type="text" name="username" id="username" />
      <input type="password" name="password" id="password" />
      <button id="loginBtn">login</button>
    </section>
  <% } else { %>
    <p id="loginSection">欢迎，<%= loginState.name %></p>
  <% } %>
</article>
<textarea id="code">
</textarea>
<button id="submit">提交</button>
<iframe id="template" src="/demo.html"></iframe>
<article id="code-space">
  <section id="code-content">
    <span class="code-line code-cursor"></span>
  </section>
</article>
  <input type="text" name="" id="fakeinput" style="opacity: 0;">

<script type="text/javascript">
$(function () {
  var userName = $("#username");
  var passWord = $("#password");
  var noLoginSection = $("#noLoginSection");
  var loginSection = $("#loginSection");
  var content = $("#content");
  var template = $("#template");
  var code = $("#code");
  var $codeContent = $("#code-content");
  var $fakeinput = $("#fakeinput");
  var codeContent = $codeContent.get(0);

  $('#loginBtn').on('click', function (e) {
    $.post('/login', {
      name: userName.val(),
      password: passWord.val(),
    }, function (res) {
      if (res.code !== 0) {
        alert(res.message);
      }

      else {
        noLoginSection.hide();
        content.html('<p id="loginSection">欢迎，' + userName.val() + '</p>');
      }
    });
  });

  $('#code').on('keydown', function (e) {
    var keyCode = e.keyCode || e.which || e.charCode;
    var ctrlKey = e.ctrlKey || e.metaKey;
    if(ctrlKey && keyCode == 83) {
      e.preventDefault();
      $('#submit').trigger('click');
    }
  });

  $('#submit').on('click', function (e) {
    $.post('/save', {
      id: 'test',
      content: code.val(),
    }, function (res) {
      if (res.code !== 0) {
        alert(res.message);
      }

      else {
        var script = document.createElement('script');
        var body = template.get(0).contentDocument.body;
        var child;
        script.type = 'text/javascript';
        if (script.innerHTML !== res.data) {
          script.innerHTML = res.data;
          script.id = 'test';
          if (child || (child = body.querySelector('#test'))) {
            body.replaceChild(script, child);
            child = script;
          }

          else {
            body.appendChild(script);
          }
        }
      }
    });
  });

  var editing = false;
  var editingBox = null;
  var currentEl = null;

  function getLineStr (data) {
    return `<div class="code-line">
        <span class="code-part">${data}</span>
      </div>
    `;
  };

  $('#code-content').on('click', function (e) {
    editing = true;
    $('.code-cursor').css('display', 'inline-block');
  })

  $(document.body).on('click', function (e) {
    currentEl = e.target;
    editing = codeContent.contains(currentEl);
    $('.code-cursor').css('display', editing || currentEl === codeContent ? 'inline-block' : 'none');
  }).on('keypress', function (e) {
    var keyCode = e.keyCode || e.which || e.charCode;
    if (editing && keyCode >= 34) {
      $fakeinput.trigger('focus');
      if (currentEl !== codeContent) {
        currentEl = currentEl.classList.contains('code-line') ? currentEl.lastElementChild : currentEl;
        currentEl.textContent += String.fromCharCode(keyCode);
      }

      else {
        var codeLine = $(getLineStr(String.fromCharCode(keyCode)));
        currentEl = codeLine.get(0).querySelector('span');
        $codeContent.append(codeLine);
      }
    }
  }).on('keydown', function (e) {
    if (!editing) return;
    var keyCode = e.keyCode || e.which || e.charCode;

    // backspace
    if (keyCode === 8) {
      e.preventDefault();
      if (currentEl) {
        var len = currentEl.textContent.length;
        if (!len) {
          codeContent.removeChild(currentEl.parentNode);
          currentEl = codeContent.lastElementChild.lastElementChild;
        }

        else {
          currentEl.textContent = currentEl.textContent.substr(0, len - 1);
        }
      }
    }

    // space
    if (keyCode === 32) {
      e.preventDefault();
      currentEl.textContent += ' ';
    }

    // enter
    if (keyCode === 13) {
      var codeLine = $(getLineStr(''));
      currentEl = codeLine.get(0).querySelector('span');
      $codeContent.append(codeLine);
    }
  });


  var IMEinput = false;
  $fakeinput.on('keyup keydown keypress', function (e) {
    if (!IMEinput) {
      e.target.value = '';
    }
  }).on('compositionstart', function (e) {
    e.target.value = '';
    IMEinput = true;
    console.log('compositionstart');
  }).on('compositionupdate', function (e) {
    var keyCode = e.keyCode || e.which || e.charCode;
    console.log(e.target.value);
    // var alph = String.fromCharCode(keyCode).toLowerCase();
    // if (currentEl !== codeContent) {
    //   currentEl = currentEl.classList.contains('code-line') ? currentEl.lastElementChild : currentEl;
    //   currentEl.textContent += alph;
    // }

    // else {
    //   var codeLine = $(getLineStr(alph));
    //   currentEl = codeLine.get(0).querySelector('span');
    //   $codeContent.append(codeLine);
    // }
  }).on('compositionend', function (e) {
    IMEinput = false;
    console.log(e.target.value, 'end');
  });
});
</script>